src/validate.rnc

grammar{

	capitalStart = xsd:string {
	  pattern="[A-Z]+.*"
	}

	notempty = xsd:string {
	  pattern=".*[\S]+.*"
	}

	country = element country {
		attribute name { capitalStart },
		element section {
			attribute name { notempty },
			attribute src { notempty }?,
			element \text {
				attribute name { notempty },
				element data {
					text?,
					element subdata {
						text
					}*
				}
			}*
		}+
	}+

	start = element countries { country }

}